# Ignore specific directories
node_modules/*
.github/*
.vscode/*
.git/*
.devcontainer/*
public/*
.husky/*
resources/*
themes/*
static/*
data/*

# Ignore specific files
package.json
package-lock.json
.gitignore
.prettierrc.js
.prettierignore
eslint.config.cjs
commitlint.config.js
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
layouts/_default/index.json

# Ignore SVG files
*.svg
