<!-- Open Graph updated time meta tag -->
<meta
  property="og:updated_time"
  content="{{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }}"
/>

<!-- Sitemap link meta tag -->
<link
  rel="sitemap"
  type="application/xml"
  title="Sitemap"
  href="{{ .Site.BaseURL }}sitemap.xml"
/>

<!-- RSS feed links for alternate and feed -->
{{ with .OutputFormats.Get "RSS" }}
  <link
    href="{{ .Permalink }}"
    rel="alternate"
    type="application/rss+xml"
    title="{{ $.Site.Title }}"
  />
  <link
    href="{{ .Permalink }}"
    rel="feed"
    type="application/rss+xml"
    title="{{ $.Site.Title }}"
  />
{{ end }}


<!-- Alternative output formats for the page (e.g., RSS, JSON) -->
{{ range .AlternativeOutputFormats -}}
  <link
    rel="{{ .Rel }}"
    type="{{ .MediaType.Type }}"
    href="{{ .RelPermalink }}"
    title="{{ $.Site.Title | emojify }}"
  />
{{ end -}}
