<!-- Base URL for resolving relative URLs -->
<base href="{{ .Permalink }}" />
<!-- Canonical link tag for indicating the preferred version of a page for search engines -->
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<!-- Meta tag for specifying the URL of the page -->
<meta name="url" content="{{ .Permalink }}" />
<!-- Twitter meta tag for URL -->
<meta name="twitter:url" content="{{ .Permalink }}" />
<!-- Open Graph meta tag for URL -->
<meta property="og:url" content="{{ .Permalink }}" />
